@import-normalize; /* bring in normalize.css styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {

  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:active,
/* активная/посещенная ссылка */
a:hover,
/* при наведении */
a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SeoulNamsan";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/seoulnamsancondensed-extrabold.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');